/* classi di debug */
.debug_h80 {
  height: 80px;
  background-color: pink;
  border: 1px solid black;
}

.debug_h50 .row {
  height: 50px;
  /* line-height: 150px; */
}


.debug_h100 .row {
  height: 100px;
  /* line-height: 150px; */
}

.debug_h200 .row {
  height: 200px;
  /* line-height: 150px; */
}

[class*="debug_h"] .row [class*="col-"] {
  height: 100%;
  background-color: pink;
  border: 1px solid black;
  /* text-align:center; */
}


/* /classi di debug */


/* classi generali */
body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

a:hover {
  text-decoration: none;
}

a.ms_btn {
  border-color: #006aff;
}

a.ms_btn:hover {
  border-color: #006aff;
  background-color: rgba(26, 115, 232, 0.1);
}

/* /classi generali */


/* Inizio header */
header .header-top {
  width: 100%;
  background-color: white;
  height: 60px;
  line-height: 60px;
}

header .header-top img {
  height: 30px;
}

header .header-top .toggle-menu {
  font-size: 1.5em;
}

header .header-top .toggle-menu a {
  color: #3a8aff;
}

header .header-top .nav-left a,
header .header-top .nav-right a {
  color: #031c4e;
  font-size: 0.9em;
  font-weight: 500;
}

header .header-top .nav-right ul li:last-child a {
  color: #006aff;
}

/* /header */

/* Inizio jumbotron */
.jumbotron {
  background-color: #004aff;
  margin: 0;
}

.jumbotron .row {
  margin-top: 60px;
}

.jumbotron h1 {
  color: white;
}

.jumbotron p {
  color: #bbc8f7;
  font-weight: 500;
}

.jumbotron .box-right {
  background-color: white;
  padding: 40px 20px;
  border-radius: 5px;
}

.jumbotron .box-right h3 {
  font-size: 1.8em;
  font-weight: 600;
  margin: 0;
}

.jumbotron .box-right h3:nth-child(2) {
  color: #006aff;
  margin-top: 10px;
}

.jumbotron .box-right form {
  margin-top: 10px;
}

.jumbotron .box-right form input,
.jumbotron .box-right form button {
  width: 100%;
  padding: 5px 2px;
  border: 2px solid #eee;
  border-radius: 5px;
  margin-bottom: 5px;
}

.jumbotron .box-right form button.ms_btn_full {
  background-color: #579aff;
  border: none;
}

.jumbotron .box-right form button.ms_btn_full:hover {
  background-color: #1a73e8;
}

.jumbotron .box-right form button.ms_btn_plain {
  color: #626262;
  background-color: white;
  /* box-shadow: 0 -10px 10px -10px #000; */
  border: 1px solid #e3e3e3;
  box-shadow: 2px 2px 2px #e3e3e3;
}

.jumbotron .box-right form button.ms_btn_plain:hover {
  background-color: rgba(227, 227, 227, 0.1);

}

.jumbotron .box-right small {
  font-weight: 500;
  display: block;
  margin-top: 5px;
}

.jumbotron .box-right small a {
  color: #006aff;
  text-decoration: underline;
}
/* /jumbotron */

/* Inizio stripe 1 */
#stripe1 {
  background-color: #f3f5f9;
  padding: 40px 0;
}

#stripe1 h4 {
  font-size: 1em;
  text-transform: uppercase;
  color: #6f7b97;
}

#stripe1 .row:nth-child(2) [class*='col-'] {
  height: 100px;
  line-height: 100px;
}

#stripe1 .row:nth-child(2) [class*='col-'] img {
  width: 100%;
  vertical-align: middle;
}

#stripe1 .row:nth-child(3) a {
  color: #006aff;
}

#stripe1 .row:nth-child(3) a .fa-chevron-right {
  font-size: 0.8em;
}



#stripe2 {
  background-color: DarkCyan;
}

#stripe3 {
  background-color: DarkKhaki;
}

#stripe4 {
  background-color: DarkOliveGreen;
}

#stripe5 {
  background-color: DarkSalmon;
}

#stripe6 {
  background-color: DarkSlateGrey;
}

#stripe7 {
  background-color: LightBlue;
}

footer {
  background-color: Plum;
}






/* Media query xs */
@media screen and (max-width: 768px) {

  #stripe1 .row:nth-child(2) [class*='col-'] {
    height: 120px;
    line-height: 120px;
  }

  #stripe1 .row:nth-child(2) [class*='col-'] img {
    min-width: 150px;
    max-width: 210px;
  }

}



/* Media query md */
@media screen and (max-width: 992px) {

  .jumbotron h1 {
    font-size: 2.5em;
  }

  .jumbotron p {
    margin: 20px 0;
  }

}
