/* classi di debug */
.debug_h80 {
  height: 80px;
  background-color: pink;
  border: 1px solid black;
}

.debug_h50 .row {
  height: 50px;
  /* line-height: 150px; */
}


.debug_h100 .row {
  height: 100px;
  /* line-height: 150px; */
}

.debug_h200 .row {
  height: 200px;
  /* line-height: 150px; */
}

[class*="debug_h"] .row [class*="col-"] {
  height: 100%;
  background-color: pink;
  border: 1px solid black;
  /* text-align:center; */
}


/* /classi di debug */


/* classi generali */
body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

a:hover {
  text-decoration: none;
}

a.ms_btn {
  border-color: #006aff;
}

a.ms_btn:hover {
  border-color: #006aff;
  background-color: rgba(26, 115, 232, 0.1);
}

h2 {
  font-weight: 600;
}

/* /classi generali */


/* Inizio header */
header .header-top {
  width: 100%;
  background-color: white;
  height: 60px;
  line-height: 60px;
}

header .header-top img {
  height: 30px;
}

header .header-top .toggle-menu {
  font-size: 1.5em;
}

header .header-top .toggle-menu a {
  color: #3a8aff;
}

header .header-top .nav-left a,
header .header-top .nav-right a {
  color: #031c4e;
  font-size: 0.9em;
  font-weight: 500;
}

header .header-top .nav-right ul li:last-child a {
  color: #006aff;
}

/* /header */

/* Inizio jumbotron */
.jumbotron {
  background-image: url('../img/bg-home-1.jpg');
  background-size: cover;
  margin: 0;
}

.jumbotron .row {
  margin-top: 60px;
}

.jumbotron h1 {
  color: white;
}

.jumbotron p {
  color: #bbc8f7;
  font-weight: 500;
}

.jumbotron .box-right {
  background-color: white;
  padding: 40px 20px;
  border-radius: 5px;
}

.jumbotron .box-right h3 {
  font-size: 1.8em;
  font-weight: 600;
  margin: 0;
}

.jumbotron .box-right h3:nth-child(2) {
  color: #006aff;
  margin-top: 10px;
}

.jumbotron .box-right form {
  margin-top: 10px;
}

.jumbotron .box-right form input,
.jumbotron .box-right form button {
  width: 100%;
  padding: 5px 2px;
  border: 2px solid #eee;
  border-radius: 5px;
  margin-bottom: 5px;
}

.jumbotron .box-right form button.ms_btn_full {
  background-color: #579aff;
  border: none;
}

.jumbotron .box-right form button.ms_btn_full:hover {
  background-color: #1a73e8;
}

.jumbotron .box-right form button.ms_btn_plain {
  color: #626262;
  background-color: white;
  /* box-shadow: 0 -10px 10px -10px #000; */
  border: 1px solid #e3e3e3;
  box-shadow: 2px 2px 2px #e3e3e3;
}

.jumbotron .box-right form button.ms_btn_plain:hover {
  background-color: rgba(227, 227, 227, 0.1);

}

.jumbotron .box-right small {
  font-weight: 500;
  display: block;
  margin-top: 5px;
}

.jumbotron .box-right small a {
  color: #006aff;
  text-decoration: underline;
}
/* /jumbotron */

/* Inizio fascia 1 */
#stripe1 {
  background-color: #f3f5f9;
  padding: 50px 0;
}

#stripe1 h4 {
  font-size: 1em;
  text-transform: uppercase;
  color: #6f7b97;
}

#stripe1 .row:nth-child(2) [class*='col-'] {
  height: 100px;
  line-height: 100px;
}

#stripe1 .row:nth-child(2) [class*='col-'] img {
  width: 100%;
  vertical-align: middle;
}

#stripe1 .row:nth-child(3) a {
  color: #006aff;
}

#stripe1 .row:nth-child(3) a:hover {
  text-decoration: underline;
}

#stripe1 .row:nth-child(3) a .fa-chevron-right {
  font-size: 0.8em;
}
/* /fascia 1 */

/* Inizio fascia 2 */
#stripe2 {
  padding: 50px 0;
}

#stripe2 h2 {
  color: #031c4e;
}

#stripe2 ul {
  border-left: 2px solid #ccc;
  padding-left: 10px;
  color: #75809a;
  margin-bottom: 25px;
}

#stripe2 p {
  font-weight: 500;
  color: #5c6a88;
  margin-bottom: 30px;
}

#stripe2 img {
  height: 40px;
  margin-bottom: 5px;
}
/* /fascia 2 */

/* Inizio fascia 3 */
#stripe3 {
  background-color: #f3f5f9;
  padding: 50px 0;
}

#stripe3 h2 {
  color: #031c4e;
}

#stripe3 p {
  margin-top: 30px;
  font-weight: 500;
  color: #586686;
}

#stripe3 figure::before {
  content:'\f053';
  font-size: 2em;
  font-weight: bold;
  font-family: "Font Awesome 5 Free";
  color: #6f7b97;
  position: relative;
  top: 25px;
  right: 15px;
  cursor: pointer;
}

#stripe3 figure::after {
  content:'\f054';
  font-size: 2em;
  font-weight: bold;
  font-family: "Font Awesome 5 Free";
  position: relative;
  top: 25px;
  left: 15px;
  cursor: pointer;
}

#stripe3 figure img {
  width: 80%;
  margin-top: 50px;
  vertical-align: middle;
}

#stripe3 figure figcaption {
  margin-top: 20px;
}

#stripe3 p {
  color: #031c4e;
}

#stripe3 .ms_slider_circle i {
  color: #006aff;
}

#stripe3 .ms_slider_circle a:hover i {
  color: #031c4e;
}
/* /fascia 3 */

/* Inizio fascia 4 */
#stripe4 {
  padding: 50px 0;
}

#stripe4 h2 {
  margin-bottom: 50px;
}

#stripe4 a {
  color: #006aff;
  vertical-align: middle;
}

#stripe4 a::after {
  content: '\f054';
  font-size: 0.8em;
  font-weight: bold;
  font-family: "Font Awesome 5 Free";
  cursor: pointer;
  position: relative;
  left: 5px;
}

#stripe4 img {
  height: 45px;
  margin-bottom: 5px;
}

#stripe4 .col-xs-12 {
  margin-bottom: 30px;
}
/* /fascia 4 */

/* Inizio fascia 5 */
#stripe5 {
  background-image: linear-gradient(to bottom right, #0048c5, #001e9a);
  padding: 50px 0;
}

#stripe5 h2 {
  color: white;
  margin-bottom: 20px;
}

#stripe5 .row:nth-child(2) .row {
  padding: 10px 0;
}

#stripe5 .row:nth-child(2) .col-xs-12:first-child {
  margin-top: 15px;
  margin-bottom: 20px;
}

#stripe5 .row:nth-child(2) .row:not(:last-child) {
  border-bottom: 1px solid white;
}

#stripe5 .row:nth-child(2) .row [class*='col-']:nth-child(1) {
  color: white;
}

#stripe5 .row:nth-child(2) .row [class*='col-']:nth-child(2) {
  color: #b8c5e6;
}

#stripe5 .row:nth-child(2) .row [class*='col-']:nth-child(3) a {
  color: #00d7d2;
}

#stripe5 .row:nth-child(2) .row [class*='col-']:nth-child(3)::after {
  content: '\f054';
  font-size: 0.8em;
  font-weight: bold;
  font-family: "Font Awesome 5 Free";
  color: #00d7d2;
  cursor: pointer;
  position: relative;
  left: 5px;
}
/* /fascia 5 */

/* Inizio fascia 6 */
#stripe6 {
  background-color: #f3f5f9;
  padding: 50px 0;
}


#stripe6 h2 {
  color: #031c4e;
}

#stripe6 p {
  font-size: 1.3em;
  margin-top: 30px;
  font-weight: 500;
  color: #586686;
}

#stripe6 .ms_box {
  width: 80%;
  margin: 40px auto;
  padding: 50px 0;
  background-color: white;
}

#stripe6 .ms_box img {
  width: 300px;
}

#stripe6 .ms_box small {
  display: inline-block;
  width: 100%;
}

#stripe6 .ms_box small:first-of-type {
  font-weight: bold;
}

#stripe6 .ms_box a {
  font-size: 0.9em;
  display: inline-block;
  margin-top: 20px;
  color: #006aff;
  font-weight: bold;
}

#stripe6 .ms_box {
  position: relative;
}

#stripe6 .ms_box::before {
  content:'\f053';
  font-size: 2em;
  font-weight: bold;
  font-family: "Font Awesome 5 Free";
  color: #6f7b97;
  position: absolute;
  top: 50%;
  left: -40px;
  transform: translateY(-50%);
  cursor: pointer;
}

#stripe6 .ms_box::after {
  content:'\f054';
  font-size: 2em;
  font-weight: bold;
  font-family: "Font Awesome 5 Free";
  color: #031c4e;
  position: absolute;
  top: 50%;
  right: -40px;
  transform: translateY(-50%);
  cursor: pointer;
}

#stripe6 .ms_slider_circle {
  margin-top: 10px;
}

#stripe6 .ms_slider_circle i {
  color: #006aff;
}

#stripe6 .ms_slider_circle a:hover i {
  color: #031c4e;
}
/* /fascia 6 */

/* Inizio fascia 7 */
#stripe7 {
  background-image: linear-gradient(to bottom right, #0048c5, #001e9a);
  padding: 50px 0;
}

#stripe7 h2 {
  color: white;
}

#stripe7 a {
  margin-top: 20px;
  padding: 10px 15px;
  font-size: 1em;
  font-weight: 700;
  border: 1px solid #ccc;
  color: #006aff;
}

#stripe7 a:hover {
  background-color: rgb(245, 245, 245);
}
/* /fascia 7 */

/* Inizio footer */
footer {
  padding: 50px 0;
  background-color: #031C4E;
  color: #8b94a9;
}

footer small {
  display: inline-block;
  width: 100%;
  font-weight: 600;
}

footer small:nth-of-type(1) {
  margin-top: 10px;
}

footer small:nth-of-type(2) {
  color: #7a859d
}

footer .social {
  margin-top: 10px;
  font-size: 1.5em;
  color: #7a859d
}

footer .social i {
  margin-right: 5px;
  margin-bottom: 30px;
}

footer li:first-child {
  margin-bottom: 5px;
  font-size: 1.05em;
  font-weight: 500;
  color: white;
}

footer li {
  line-height: 1.6;
}

footer li a {
  color: #7a859d;
  font-size: 0.9em;
}
/* /footer */






/* Media query xs */
@media screen and (max-width: 768px) {

  #stripe1 .row:nth-child(2) [class*='col-'] {
    height: 120px;
    line-height: 120px;
  }

  #stripe1 .row:nth-child(2) [class*='col-'] img {
    min-width: 150px;
    max-width: 210px;
  }

  #stripe3 figure::before {
    display: none;
  }

  #stripe3 figure::after {
    display: none;
  }

  #stripe6 .ms_box img {
    width: 85%;
  }


  #stripe6 .ms_box::after {
    display: none;
  }

  #stripe6 .ms_box::before {
    display: none;
  }

  footer ul {
    margin-top: 15px;
  }

}


/* Media query md */
@media screen and (max-width: 992px) {

  .jumbotron h1 {
    font-size: 2.5em;
  }

  .jumbotron p {
    margin: 20px 0;
  }

  footer ul.ms_mtop {
    margin-top: 20px;
  }

}


@media screen and (min-width: 1170px) {
  #stripe5 .row:nth-child(2) .col-xs-12:first-child {
    margin: 0;
  }
}
