/* classi di debug */
.debug_h80 {
  height: 80px;
  background-color: pink;
  border: 1px solid black;
}

.debug_h50 .row {
  height: 50px;
  /* line-height: 150px; */
}


.debug_h100 .row {
  height: 100px;
  /* line-height: 150px; */
}

.debug_h200 .row {
  height: 200px;
  /* line-height: 150px; */
}

[class*="debug_h"] .row [class*="col-"] {
  height: 100%;
  background-color: pink;
  border: 1px solid black;
  /* text-align:center; */
}


/* /classi di debug */


/* classi generali */
body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

a:hover {
  text-decoration: none;
}

a.ms_btn {
  border-color: #006aff;
}

a.ms_btn:hover {
  border-color: #006aff;
  background-color: rgba(0, 106, 255, 0.1);
}

/* /classi generali */


/* Inizio header */
header .header-top {
  height: 60px;
  line-height: 60px;
}

header .header-top img {
  height: 30px;
}

header .header-top .toggle-menu {
  font-size: 1.5em;
}

header .header-top .toggle-menu a {
  color: #3a8aff;
}

header .header-top .nav-left a,
header .header-top .nav-right a {
  color: #031c4e;
  font-size: 0.9em;
  font-weight: 500;
}

header .header-top .nav-right ul li:last-child a {
  color: #006aff;
}

/* /header */



/* Inizio jumbotron */
.jumbotron {
  background-color: Aquamarine;
}

#stripe1 {
  background-color: BlueViolet;
}

#stripe2 {
  background-color: DarkCyan;
}

#stripe3 {
  background-color: DarkKhaki;
}

#stripe4 {
  background-color: DarkOliveGreen;
}

#stripe5 {
  background-color: DarkSalmon;
}

#stripe6 {
  background-color: DarkSlateGrey;
}

#stripe7 {
  background-color: LightBlue;
}

footer {
  background-color: Plum;
}
